* {
    margin: 0px;
    padding: 0px;
}

.container {
    margin-top: 10px;
    min-height: 100%;
}

#navbar {
    float: left;
    width: 15%;
    box-sizing: border-box;
}


.header-footer {
    background-color: rgb(84, 72, 190);
}

footer {
    bottom: 0;
    width: 100%;
    position: fixed;
}

.section {
    position: relative;
    width: 70%;
    box-sizing: border-box;
    display: none;
    float: right;
}

.menu {
    width: 100%;
    background-color: #f1f1f1d5;
    display: block;
}

.menu-item a:hover {
    background-color: #555;
    color: white;
}

#Home-content {
    display: block;
}

.menu-item a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.autopopulate {
    margin: 2px;
}

table {
    width: 40%;
    float: left;
    border-collapse: collapse;
    position: absolute;
}

th,
td {
    text-align: center;
    border: 1px solid #000;
    column-span: none;
}

tr {
    width: 50%;
}

.listitems {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    width: 381px;
}

.listitems div:hover {
    background-color: grey;
}

.listitems div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}